// Text colors
// ==================================
$text-primary: #ffffff;   
$text-secondary: #ED145B; 
$text-tertiary: #8A959B;  
$text-quaternary: #949B99; 
$text-quinary: #0B0C0D;
$text-senary: #454C4F;

// Background colors
// ==================================
$bg-primary: #000000;     
$bg-secondary: #202121;    

// General colors
// ==================================
$color-primary: #ED145B;  
$color-secondary: #8A959B; 
$color-tertiary: #949B99; 
$color-quaternary: #566165;

// breakpoints
// ==================================
$breakpoint-xs: 414px;
$breakpoint-sm: 599px;  
$breakpoint-md: 1024px;  
$breakpoint-lg: 1440px;  

:export {
  text-primary: $text-primary;
  text-secondary: $text-secondary;
  text-tertiary: $text-tertiary;
  text-quaternary: $text-quaternary;
  text-quinary: $text-quinary;
  text-senary: $text-senary;
  bg-primary: $bg-primary;
  bg-secondary: $bg-secondary;
  primary-color: $color-primary;
  secondary-color: $color-secondary;
  tertiary-color: $color-tertiary;
  quaternary-color: $color-quaternary;
  breakpoint-xs: $breakpoint-xs;
  breakpoint-sm: $breakpoint-sm;
  breakpoint-md: $breakpoint-md;
  breakpoint-lg: $breakpoint-lg;
}